/* 荒原之梦考研数学 Ultra 版相关样式 */
.ZHAOKAIFENGurl {
  color: #e9be6f;
  background-color: #27394c;
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border: 1px solid transparent;
  display: inline-block;
}